<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
      rel="stylesheet"
    />

    <title>FotoBlog</title>
  </head>
  <body>
    <h1 style="font-family: 'Quicksand', sans-serif;">Meu Foto Blog</h1>
    {{range.}}
    <img src="/public/photos/{{.}}" width="400px" />
    {{ end }}

    <form method="post" enctype="multipart/form-data">
      <input type="file" name="nf" />
      <input type="submit" />
    </form>
  </body>
</html>
